body {background: url("../img/66ak.gif"); background-size: cover; background-repeat: no-repeat;}
h1 {text-align: center; color: white;}
.zxc {text-align: center;font-size: 20px;color:#F0FFFF ;}
.zxc1{font-size: 14px;color:#DCDCDC; padding: 10 px; margin: 50px;}